 @import 'var';
 @import 'fonts'; 
 @import 'global';

 
 .header {
     background-color: $accent;

     &__inner {
         min-height: 80px;
         display: flex;
         justify-content: space-between;
         align-items: center;
     }
 }

 @media(min-width:640px) {
     .header {
         &__inner {
             min-height: 100px;
         }
     }
 }



 .logo__link {
     margin-left: 8px;
 }

 @media(min-width:640px) {
     .logo__link {
         margin-left: 14px;
     }
 }

 @media(min-width: 768px) {
     .logo__link {
         margin-left: 0;
     }
 }


 .menu__btn {
     width: 40px;
     height: 40px;
     border-radius: 3px;
     background-color: #FFF;
     border: none;
     position: relative;

     &::after {
         content: '';
         width: 12px;
         height: 2px;
         border-radius: 1px;
         background-color: $accent;
         position: absolute;
         top: 15px;
         left: 14px;
         box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
     }
 }

 @media(min-width:1440px) {
     .menu__btn {
         margin-right: 90px;
     }
 }


 .head {
     background-image: url('../images/bg-slider.jpg');
     background-repeat: no-repeat;
     background-position: centr center;
     background-size: cover;
     min-height: 193px;
 }

 @media(min-width:640px) {
     .head {
         min-width: 387px;
         //  background-position: -162px center;
     }
 }

 .top-slider {
     background: rgba(33, 33, 33, 0.5);

     &__item {
         color: #FFF;
         text-align: center;
         min-height: 193px;
     }

     &__title {
         font-family: 'RobotoCondensed-Regular';
         line-height: 28px;
         font-size: 28px;
         font-weight: 400;
         text-transform: uppercase;
         padding: 36px 0 28px;
         // max-width: 243px;    
         max-width: 195px;
         margin: 0 auto;
         position: relative;

         &::after {
             content: '';
             position: absolute;
             left: 0;
             right: 0;
             bottom: 0;
             height: 8px;
             background-color: $text-color;
             width: 67px;
             margin: 0 auto;
         }
     }

     &__text {
         display: none;
     }

     &__btn {
         display: none;
     }

     .slick-dots {
         display: flex;
         justify-content: center;
         position: absolute;
         bottom: 20px;
         left: 0;
         right: 0;

         .slick-active {
             button {
                 background-color: transparent;
                 border: 1px solid #476e4d;
             }
         }

         button {
             font-size: 0;
             border: none;
             background-color: $accent;
             padding: 0;
             width: 10px;
             height: 10px;
             border-radius: 50%;
             margin: 0 10px;
         }
     }
 }

 @media(min-width:640px) {
     .top-slider {
         &__item {
             min-width: 387px;
         }

         &__title {
             font-size: 60px;
             line-height: 60px;
             padding: 50px 0 15px;
             margin: 0 auto 30px;
             max-width: 514px;
         }

         &__btn {
             display: block;
             font-weight: 500;
             margin: 0 auto 113px;
             font-size: 18px;
             background-color: $accent;
             color: $bg-color;
             padding: 16px 45px;
             border: none;
             border-radius: 3px;
         }

         .slick-dots {
             bottom: 50px;
         }

         .slick-arrow {
             width: 57px;
             height: 57px;
             border: none;
             position: absolute;
             right: 0;
             z-index: 5;
         }

         .slick-prev {
             background-color: $bg-color;
             top: calc(50% - 56px);
         }

         .slick-next {
             background-color: $accent;
             bottom: calc(50% + 56px);
         }

     }
 }

 @media(min-width:768px) {
     .top-slider {
         &__item {
             min-height: 465px;
         }

         &__title {
             padding: 87px 0 0;
             margin: 0 auto 0;

             &::after {
                 display: none;
             }
         }

         &__text {
             padding: 25px 0 32px;
             font-family: 'RobotoCondensed-Regular';
             line-height: 20px;
             font-size: 18px;
             font-weight: 400;
             display: block;
             width: 587px;
             margin: 0 auto;
         }
     }
 }

 @media (min-width: 1024px) {
     .top-slider {
         &__item {
             min-height: 618px;
         }

         &__title {
             padding-top: 101px;
             font-size: 84px;
             line-height: 84px;
             letter-spacing: 2px;
             // max-width: 750px; 
             max-width: 747px;
         }

         .slick-dots {
             bottom: 80px;
         }
     }
 }

 @media (min-width: 1440px) {
     .top-slider {
         &__item {
             min-height: 670px;
         }

         &__title {
             padding-top: 107px;
             font-size: 96px;
             line-height: 96px;
             letter-spacing: 2px;
             max-width: 747px;
         }

         &__text {
             font-size: 24px;
             line-height: 26px;
             max-width: 887px;
         }

         .slick-arrow {
             width: 70px;
             height: 70px;
         }

         .slick-prev {
             top: calc(50% - 70px);
         }

         .slick-next {
             bottom: calc(50% + 70px);
         }
     }
 }

 .call {
     background-color: $accent;
     padding: 40px 0;
     color: #FFF;
     text-align: center;

     &__title {
         //  @extend %roboto-500;
         font-weight: 500;
         font-size: 24px;
         line-height: 24px;
         margin-bottom: 15px;
     }

     &__text {
         @extend %dosis-300;
         margin-bottom: 40px;
     }

     &__btn {
         padding: 16px 15px;
         background-color: $bg-color;
         color: $accent;
         font-size: 18px;
         @extend %roboto-500;
         border-radius: 3px;
         border: none;
         text-transform: uppercase;
     }
 }


 @media (min-width: 768px) {
     .call {
         text-align: left;

         &__inner {
             display: flex;
             justify-content: space-between;
             align-items: center;
         }

         &__box {
             max-width: 427px;
         }

         &__text {
             margin-bottom: 0; 
             max-width: 337px;
         }

     }
 }

 @media (min-width: 1024px) {

     .call {
         &__box {
             max-width: 695px;
         }
     }

 }


 @media (min-width: 1440px) {

     .call {
         &__inner {
             padding: 0 80px;
         }

         &__box {
             max-width: 796px;
         }
     }

 } 
  
 .services{ 
    padding: 25px 0 40px; 
    text-align: center; 
   &__title{ 
     margin-bottom: 47px; 
     color: $accent;
   }  
     
   &__descr{ 
    line-height: 24px; 
    font-style: 20px;  
    color: text-color; 
    margin-bottom: 21px;
   } 
   &__text{ 
    color:#797979; 
    font-size: 15px; 
    line-height: 24px; 
    margin-bottom: 40px;
   } 
    
   &__item{ 
     min-height: 310px; 
     border: 1px solid $bg-color;  
     border-bottom: none;
     display: flex; 
     flex-direction: column; 
     justify-content: center;   
     padding: 0 18px;
     &:last-child{ 
        border-bottom: 1px solid $bg-color;  
     } 
     &:hover{  
        .services__item-text,
        .services__item-link{ 
          opacity: 1; 
        // height: 100%; 
          width: 100%;
        }  
         
        .services__item-img{ 
            margin-bottom: 14px;
        }
         
        .services__item-title{ 
            margin-bottom: 30px;
        }  
         
        .services__item-inner{ 
           border: 4px solid $accent; 
           margin: 18px 0; 
           padding: 25px 20px 5px; 
           min-height: 277px;
        }
     }
   }  
    
   &__item-inner{ 
    transition: all .5s;
   }
    
   &__item-img{ 
      margin-bottom: 30px;
   } 
    
   &__item-title{  
     font-size: 16px; 
     line-height: 19px; 
     letter-spacing: 2px;  
     color: $text-color; 
     @extend %robotocondensed-700;
   } 
      
   &__item-text, 
   &__item-link{ 
     opacity: 0; 
     height: auto;
     overflow: hidden; 
     transition: all .5s;
   }  

   &__item-text{ 
    margin-bottom: 17px; 
   }  
    
   &__item-link{ 
    letter-spacing: 2px; 
    color: $accent; 
    @extend %robotocondensed-700; 
    text-transform: uppercase;
   }
 } 
  

 @media(min-width: 640px) {
    
    .services{ 
        padding: 25px 0 0; 
       &__title{ 
         margin-bottom: 20px;   
         padding-bottom: 0;
         &::after{ 
            display: none;
         }
       }  
         
       &__descr{ 
        font-style: 24px;   
        padding-bottom: 38px;
        margin-bottom: 31px; 
        position: relative;
        &::after{ 
            content: ''; 
            position: absolute; 
            width: 100px; 
            height: 8px; 
            background-color: $accent; 
            bottom: 0;
            margin: 0 auto;  
            left: 0; 
            right: 0;
        }
       } 
       &__text{ 
        color:#797979; 
        font-size: 18px; 
        line-height: 24px; 
       } 
         
       &__items{  
         display: flex; 
         flex-wrap: wrap; 
         margin: 0 -30px;
       } 

       &__item{ 
         min-height: 310px;  
         width: 50%; 
         &:nth-child(even){ 
            border-left: none;
         }  
         &:last-child{ 
            border-bottom: none;  
         } 
        
       } 

     } 
      
 } 
  
 @media(min-width: 768px) {

     .services {
         padding: 50px 0 0;

         &__title {
             margin-bottom: 30px;
         }

         &__descr {
             text-align: left;

             &::after {
                 margin-left: 0;
             }
         }

         &__text {
             margin-bottom: 27px;
             text-align: left;
         }

         &__items {
             margin: 0 -40px;
         }

         &__item {
             padding: 0 89px;
             min-height: 334px;

             &:hover {
                 padding: 0 18px;

                 .services__item-inner {
                     margin: 18px 0;
                     padding: 35px 60px 5px;
                     min-height: 288px;
                 }
             }
         }

     }

 } 
  
 @media(min-width: 1024px) {

    .services {
        padding: 52px 0 0;

        &__title {
            margin-bottom: 60px;
        }

        &__descr {
           padding-bottom: 46px;  
           margin-bottom: 40px;
        }

        &__text {
            margin-bottom: 32px; 
            max-width: 607px;
        }

        &__item { 
            width: 25%;
            padding: 0 17px;
            min-height: 277px; 
            &:nth-child(2), 
            &:nth-child(6){  
               border-right: none;
            }
            &:hover { 

                .services__item-inner {
                    margin: 10px 0;
                    padding: 21px 9px 5px;
                    min-height: 255px;
                }
            }
        }

    }

} 
 
@media(min-width: 1440px) {

    .services {
        padding:  0;
        &__inner{ 
         display: flex;    
         justify-content: space-between; 
         margin: 0 -100px 0 -50px;
        } 
         
        &__head{ 
            min-width: 350px;  
            max-width: 350px; 
            margin-right: 100px;
        }

        &__title {
            margin: 90px 0 70px;
            text-align: left;
        }

        &__descr {
           padding-bottom: 38px;  
           margin-bottom: 35px;
        } 
         
        &__items{ 
           margin: 0;
        }

        &__item { 
            width: 230px;
            padding: 0 5px;
            height: 273px; 
           
            &:hover { 
                padding: 0 5px;
                .services__item-inner {
                    margin: 5px 0;
                    padding: 10px 3px 5px;
                    min-height: 255px;
                }
            }
        }

    }

}  
 
 .project{ 
    text-align: center; 
    padding: 20px 0 40px; 
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%); 
    &__title{  
        color:#FFF; 
        margin-bottom: 40px; 
        &::after{ 
            background-color:#FFF;
        }
     } 
   &__item-img{ 
      min-height: 250px; 
      border-radius: 4px;  
      background-repeat: no-repeat; 
      background-size: cover;
     &:hover{  
        .project__item-inner{ 
            opacity: 1;
        }
     }
   } 
     
   &__item-inner{ 
    display: flex; 
    justify-content: center;  
    align-items: center; 
    background-color: rgba($bg-color, .83); 
    border-radius: 4px; 
    min-height: 227px; 
    opacity: 0; 
    transition: all .5s;
   }  
 
  &__item-info, 
  &__item-search { 
    margin: 0 7px;
  }

   &__item-link{ 
     display: block; 
     padding: 20px 0;  
     letter-spacing: 2px;
     line-height: 19px; 
     color: $accent; 
     @extend %robotocondensed-700;
   }
 } 
  
 @media(min-width: 640px) {

     .project {
         padding: 40px 0 20px;

         &__item-img {
             min-height: 460px;
             padding: 21px 24px;
         }

         &__item-inner {
             min-height: 417px;
         }

         &__item-link {
             font-size: 20px;
             line-height: 23px;
         }
     }
 } 
  
 @media(min-width: 768px) {

    .project {
        padding: 80px 0 60px;
        &__items{ 
          display: flex; 
          flex-wrap: wrap; 
          justify-content: space-between;
        }
        &__item-img {
            min-height: 282px; 
            width: 317px;
            padding: 12px 14px;
        }

        &__item-inner {
            min-height: 256px;
        }

        &__item-link { 
            padding: 30px 0;
            font-size: 20px;
            line-height: 23px;
        }
    }
} 
 
@media(min-width: 1024px) {

    .project {
        &__items{ 
          justify-content: center;
        }
        &__item-img {
          margin: 0 12px;  
        }  
     }
  } 
   
  @media(min-width: 1440px) {

    .project {
        &__items{  
          flex-wrap: nowrap;  
          justify-content: space-between;
        } 
         
        &__item-img{  
            width: 300px;
        } 

        &__item-img {
          margin: 0;  
        }  
     }
  }

  
 .team{  
   padding: 20px 0 40px;  
   text-align: center;
   &__images{ 
    width: 100%; 
    margin-bottom: 40px; 
    border-radius: 4px;
   } 
   &__title{  
     color: $text-color; 
     margin-bottom: 23px;
   } 
   &__text{ 
     margin-bottom: 84px;
   } 
   &__btn{ 
    border: none; 
    background-color: $accent; 
    text-transform: uppercase; 
    border-radius: 3px; 
    padding: 21px 26px; 
    color: $bg-color; 
    font-weight: 500;
   }
 } 
  
 @media(min-width: 640px) {

     .team {
         padding: 46px 0 53px;

         &__images {
             margin-bottom: 40px;
         }

         &__title {
             margin-bottom: 40px;
         }

         &__text {
             margin-bottom: 56px;
         }

         &__btn { 
           font-size: 20px;
         }
     }

 } 
  
 @media(min-width: 768px) {

    .team {
        padding: 40px 0 48px; 
        text-align: left;
        &__inner{ 
           display: flex; 
        }   
        &__images {
            margin-bottom: 0; 
            width: 240px;  
            height: 100%;
            margin-right: 34px;
        }

        &__title {
            margin-bottom: 7px;  
            font-size: 36px; 
            line-height: 38px; 
            padding-bottom: 28px;
            &::after{ 
                margin-left: 0;
            }
        }

        &__text { 
            font-size: 18px;
            margin-bottom: 30px;
        }

        &__btn { 
          font-size: 18px;
        }
    }

} 
 
@media(min-width: 1024px) {

    .team {
        padding: 80px 0; 
    
        &__images {
            width: 395px;  
            margin-right: 60px;
        }

        &__title { 
            margin-top: 10px;
            margin-bottom: 19px;  
        }

        &__text { 
            font-size: 18px; 
            line-height: 24px;
            margin-bottom: 12px;
        }

        &__btn { 
          font-size: 18px;
        }
    }

} 
 
 
@media(min-width: 1440px) {

    .team {
        padding: 50px 0 110px; 
    
        &__images {
            width: 470px;  
            margin-right: 93px;
        }

        &__title { 
            margin-bottom: 40px;  
        }

        &__text { 
            font-size: 18px; 
            line-height: 24px;
            margin-bottom: 40px;
        }

        &__btn { 
          font-size: 18px;
        }
    }
}  
 
 
 
.news{ 
    padding: 40px 0 20px;      
    background: #F9F6E5;
    &__title{  
     margin-bottom: 40px;  
     text-align:center;
    }  
     
    &__items{
        // display: flex;
        // flex-direction: column;
        // align-items: center; 
         border: 1px solid transparent;  
         max-width: 273px; 
         width: 100%;
         margin: 0 auto;  
         
    }
    
     
    &__item{ 
       border-radius: 4px;   
       background-repeat: no-repeat; 
       background-position: center;
       background-size: cover;  
       position: relative;  
       cursor: pointer; 
       max-width: 270px;
       border: 1px solid transparent;  
       transition: all 0.5s;  
       margin-bottom: 63px;
       &:hover{ 
         .news__link{ 
             position: absolute; 
             left: 0; 
             bottom: 8%; 
             background: $accent; 
             color:#FFF; 
           }
       }
    } 
     
   &__item-wrapper{ 
     background-color: rgba(43, 64, 116, 0.3);
     border: 10px solid #2B4074; 
     position: relative;   
     width: 100%; 
     height: 100%;  
     opacity: 0; 
     transition: all 0.5s; 
     &:hover{ 
       opacity: 1; 
     }
   }
     
    &__item--1{ 
     width: 270px;
     height: 450px;
    } 
     
    &__item--2{ 
      width: 268px; 
      width: 270px;
      height: 341px;
    }
      
    &__item--3{ 
     width: 268px;
     height: 383px;
   } 
    
   &__item--4{ 
     width: 270px;
     height: 210px; 
     &:hover{ 
        .news__link {
           position: absolute;
           left: 0;
           bottom: 15%; 
         }
     }
   } 
    
   &__item--5{ 
     width: 270px;
     height: 197px; 
     &:hover{ 
       .news__link {
           position: absolute;
           left: 0;
           bottom: 15%; 
       }
     }
   } 
    
   &__item--6{  
     width: 268px;
     height: 341px;
   } 
    
   &__item--7{ 
     width: 269px;
     height: 198px; 
    &:hover{ 
     .news__link {
         position: absolute;
         left: 0;
         bottom: 14%; 
     } 
    }
   } 
    
   &__item--8{ 
     width: 269px;
     height: 397px;  
 }
   
    
   &__img-info{ 
      position: absolute;
      left: 0;
      right: 0;   
      top: 0; 
      bottom: 0;
      margin: auto;
   } 
    
   &__link{ 
     padding: 10px 20px; 
     display: inline-block; 
     font-size: 18px;
     color: $text-color; 
     background: #FFF; 
     width: 100%;  
     position: absolute; 
     left: 0; 
     bottom: -38px;  
     transition: all 0.5s;  
    }
 
  }        

  
 
@media(min-width: 640px) { 
  
    .news{ 
         
       &__title{  
        margin-bottom: 88px;  
       }  
         
       &__items{  
        max-width: 598px;  
        width: 100%;
      }   
        
       &__item{  
        margin: 27px 14px; 
      } 
          
     }        
      
} 
 
@media(min-width: 1024px) { 
  
    .news{ 
      padding: 65px 0 80px;   
       &__title{  
        margin-bottom: 89px;  
       }  
         
       &__items{  
        max-width: 875px; 
        width: 100%;
      }   
        
       &__item{  
        margin: 27px 10px; 
      } 
          
     }        
      
}  
 
@media(min-width: 1440px) { 
  
    .news{  
         
        &__title{  
            margin-bottom: 115px;  
           }  
    
       &__items{  
        max-width: 1165px;
        width: 100%;
      }   
        
       &__item{  
        margin: 27px 10px; 
      } 
          
     }        
      
} 
 
.bottom-slider {
    background-color: #FFF;

    &__wrapper {
        margin: 0 auto; 
        border: 1px solid transparent;
    } 
     
    &__item{ 
        padding-top: 70px; 
        text-align: center;
    }   

    &__decor{ 
        margin: 0 auto 100px;
    }
        
    
     
    &__text{ 
        max-width: 227px;  
        width: 100%;
        margin: 0 auto 20px; 
        @extend %robotocondensed-400; 
        color: $text-color; 
        font-size: 24px;
        line-height: 27px; 
    }  
     
    &__span{ 
        @extend %robotocondensed-700;     
        color: $accent;
    }
     
    &__author{  
        margin-bottom: 134px; 
        @extend %robotocondensed-700;  
        color: $text-color; 
        font-size: 20px;
        line-height: 23px;
    } 
     
    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 85px;
        left: 0;
        right: 0;

        .slick-active {
            button {
                background-color: transparent;
                border: 1px solid #476e4d;
            }
        }

        button {
            font-size: 0;
            border: none;
            background-color: $accent;
            padding: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 10px;
        }
    }

} 

 
@media(min-width: 640px) {   
     
    .bottom-slider {
         
        &__item{ 
            padding-top: 70px; 
        }   
    
        &__decor{ 
            margin: 0 auto 40px;
        }
            
        
         
        &__text{ 
            max-width: 553px; 
            margin: 0 auto 40px; 
            color: $text-color; 
            font-size: 32px;
            line-height: 34px; 
        }  
         
        &__span{   
            color: $accent;
        }
         
        &__author{  
            margin-bottom: 140px; 
        } 
         
    } 

} 
 
@media(min-width: 768px) {   
     
    .bottom-slider {
           
        &__text{ 
            max-width: 700px; 
        }  
         
    } 

} 
  

@media(min-width: 1024px) {   
     
    .bottom-slider {
         
        &__item{ 
            padding-top: 100px; 
        }   
    
        &__decor{ 
            margin: 0 auto 45px;
        }
            
        
         
        &__text{ 
            max-width: 790px;
            margin: 0 auto 45px; 
            line-height: 38px;
        }  
         
        &__author{  
            margin-bottom: 221px; 
        }  
         
        .slick-dots {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 130px;
            left: 0;
            right: 0;
        }
    } 

}  
 
@media(min-width: 1440px) {   
     
    .bottom-slider {
         
        &__decor{ 
            margin: 0 auto 60px;
        }
            
        &__text{ 
            max-width: 870px;
            margin: 0 auto 30px; 
            font-size: 36px;
            line-height: 43px;
        }  
          
        &__author{  
            margin-bottom: 223px;  
            font-size: 24px;  
        }  
         
        .slick-dots {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 133px;
            left: 0;
            right: 0;
        }
    } 

}  
 
.footer{ 
    background-color: $accent; 
   
    &__inner{  
        padding: 85px 0 10px;
        position: relative;  
        display: flex; 
        flex-direction: column;  
        align-items: center;
    }   

    &__logo{ 
        width: 230px; 
        height: 70px; 
        background-color: $accent; 
        display: flex; 
        align-items: center;  
        justify-content: center; 
        position: absolute;
        left: 0;
        right: 0; 
        top: -38px; 
        margin: 0 auto; 
        border: 1px solid transparent;
    }  
     
    &__title{ 
        text-align: center;   
        font-size: 20px;
        line-height: 22px; 
        color: #FFF;
        margin-bottom: 43px; 
        @extend %roboto-400;
    } 
      
    &__social-items{  
       margin-bottom: 32px;
    }
    &__social-item{ 
        margin: 17px;
    } 
     
    &__contacts, 
    &__address,  
    &__faq,  
    &__menu{ 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        margin-bottom: 40px; 
        text-align: center;
    }  
     
    &__faq,  
    &__menu{  
        margin-bottom: 54px;
    }
     
   &__contacts-title, 
   &__address-title, 
   &__faq-title, 
   &__menu-title{ 
        font-size: 18px;
        line-height: 21px; 
        color: $bg-color; 
        margin-bottom: 17px; 
        @extend %robotocondensed-700;
   }  
    
   &__faq-title, 
   &__menu-title{  
    margin-bottom: 24px;
   }
    
  &__contacts-menu-item, 
  &__address-menu-item, 
  &__faq-menu-item, 
  &__menu-nav-item{ 
     margin-bottom: 7px;
   }
}  
  
 

@media(min-width: 640px){ 
 
    .footer{ 
       
        &__inner{  
            padding: 85px 0 125px; 
            text-align: left; 
            
        }   
    
        &__logo{ 
            position: absolute;
            left: 0;
            right: 0; 
            top: -37px; 
            margin: 0 auto; 
        }  
         
        &__title{ 
            text-align: left;   
            font-size: 24px;
            line-height: 26px;
            max-width: 498px;
        } 
          
        &__social-items{  
           display: flex; 
           border-top: 1px solid #7EBF84; 
           border-bottom: 1px solid #7EBF84; 
           margin-bottom: 40px;
        }
        &__social-item{ 
           margin: 0; 
           width: 140px; 
           height: 53px; 
           border-right: 1px solid #7EBF84;
           display: flex; 
           justify-content: center; 
           align-items: center;
        }   

       &__social-item--pinterest{ 
        border-right: none;
       } 
        
       &__contacts-box{ 
         display: grid; 
         grid-template-columns: repeat(2, 1fr); 
         grid-template-rows: repeat(2, 1fr);   
         max-width: 550px; 
         width: 100%;   
         height: 247px; 
       }
         
        &__contacts, 
        &__address,  
        &__faq,  
        &__menu{ 
            display: flex; 
            flex-direction: column; 
            align-items: start;
            margin-bottom: 40px;
            text-align: left;
        }  
         
         
       &__contacts-title, 
       &__address-title, 
       &__faq-title, 
       &__menu-title{ 
            margin-bottom: 23px; 
       }  
        
       &__faq-title, 
       &__menu-title{  
        margin-bottom: 24px;
       }
        
      &__contacts-menu-item, 
      &__address-menu-item, 
      &__faq-menu-item, 
      &__menu-nav-item{ 
         margin-bottom: 7px;
       }
    }     

}
  
 
@media(min-width: 768px){ 
 
    .footer{ 
       
        &__inner{  
            padding: 115px 0 50px; 
            
        }  
         
        &__title{ 
            font-size: 36px;
            line-height: 32px;
            max-width: 630px;
        } 
          
        &__social-item{ 
           margin: 0; 
           width: 175px; 
           height: 68px; 
        }   
      
       &__contacts-box{ 
         display: grid; 
         grid-template-columns: repeat(2, 1fr); 
         grid-template-rows: repeat(2, 1fr);   
         max-width: 730px; 
         width: 100%;   
         height: 247px; 
         padding-left: 15px;
       }
         
        &__contacts, 
        &__address,  
        &__faq,  
        &__menu{ 
            display: flex; 
            flex-direction: column; 
            align-items: start;
            margin-bottom: 40px;
            text-align: left;
        }  
         
         
       &__contacts-title, 
       &__address-title, 
       &__faq-title, 
       &__menu-title{ 
            margin-bottom: 23px; 
       }  
        
       &__faq-title, 
       &__menu-title{  
        margin-bottom: 24px;
       }
    
    }     

} 
 
 
@media(min-width: 1024px){ 
 
    .footer{ 
       
        &__inner{  
            padding: 158px 0 100px; 
            
        }  
         
        &__title{ 
            font-size: 36px; 
            line-height: 37px;
            max-width:700px; 
            margin-bottom: 80px;
        } 
           
       
        &__social-items{ 
            margin-bottom: 57px;
        } 

        &__social-item{ 
           margin: 0; 
           width: 236px; 
           height: 61px; 
        }   
      
       &__contacts-box{ 
        display: flex; 
        justify-content: start;   
        max-width: 953px; 
        height: 119px;
        border: 1px solid transparent;
       }
         
        &__contacts, 
        &__address,  
        &__faq,  
        &__menu{ 
            display: flex; 
            flex-direction: column; 
            align-items: start;
            margin-bottom: 0;
            text-align: left; 
            margin-right: 93px;
        }   
         
        &__menu{  
            margin-right: 0;
        }
         
   
    }     

} 
 
@media(min-width: 1440px){ 
 
    .footer{ 
         
           
        &__social-items{ 
            margin-bottom: 80px;
        } 

        &__social-item{ 
           margin: 0; 
           width: 287px; 
           height: 61px; 
        }   
      
       &__contacts-box{ 
        display: flex; 
        justify-content: start;   
        max-width: 1145px; 

       }
         
        &__contacts, 
        &__address,  
        &__faq,  
        &__menu{ 
            margin-right: 153px;
        }   
         
        &__menu{  
            margin-right: 0;
        }
    
    }     

}

.to-top {
    background: #F9F6E5;

    &__inner {
        padding: 56px 0 20px;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 50px;
        margin: 0 auto;

    }

    &__text {
        margin-bottom: 23px;
        font-size: 16px;
        color: $text-color;
    }
}


@media(min-width:640px) {

    .to-top {

        &__inner {
            padding: 0;
            height: 43px; 
            text-align: left;
        }

        &__link {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 109px;
            width: 100%; 
            height: 43px; 
            margin: 0;   
            margin-left: auto;
        }

        &__text {
            margin-bottom: 0;
            font-size: 16px; 
            color: $text-color; 
            display: block;
        }
    }

}